<div class="container mt-4">
  <div class="col-6 m-auto">
    <h3>Create a new bookmark</h3>
      <%= simple_form_for [ @list, @bookmark ] do |f| %>
        <%= f.input :comment, placeholder: 'Put your comment' %>
        <%= f.association :movie, input_html: { class: 'select2' } %>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>
  </div>
</div>
